.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.heroCaption {
  position: absolute;
  bottom: 10em;
  left: 10em;
  color: #fff;
}

video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
