@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
* {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  user-select: none;
  overflow: hidden;
}
.placescontainer {
  width: 60%;
  position: relative;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.bg-image-cover {
  opacity: 0.4;
  width: 100%;
}
/* .slider-main {
  margin: 0 auto;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.slide img {
  position: absolute;
  width: 40rem;
  height: 25rem;
  margin: 0 auto;
}
img {
  left: -10rem;
  transition: ease 0.6s;
}
.slide {
  position: relative;
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.6;
  height: 25rem;
  overflow: hidden;
}
.slide:hover img {
  transform: translate(-10px, 0);
}

.activeSlide {
  position: relative;
  transform: scale(1);
  opacity: 1;
}
.title,
.info {
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 3;
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 0.6em;
}
.bg-div {
  position: absolute;
  width: 100%;
  height: 8em;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  bottom: -4em;
  transition: ease 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide:hover .bg-div {
  bottom: 0;
}

.title {
  width: fit-content;
  font-weight: 400;
  font-size: 1.5rem;
  /* margin-left: 0.6em; */
}
.info {
  font-weight: 100;
  font-size: 1rem;
}
.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
  color: rgb(158, 158, 158);
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.write-up {
  position: absolute;
  width: 30%;
  right: 0;
  gap: 2rem;
  /* border: 2px solid white; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5em);
  border-radius: 0.3em;
  /* border: 1px solid rgb(224, 224, 224); */
  padding: 1em;
  box-sizing: border-box;
  user-select: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.slider-heading {
  z-index: 5;
  width: 60%;
  height: 30%;
  font-size: 2.5rem;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  color: whitesmoke;
  text-transform: uppercase;
}
.main-title,
.main-info {
  width: 100%;
}
.main-title {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
}
.main-info {
  font-weight: 400;
  font-size: 1.5rem;
}
.exp-div {
  width: 70em;
  height: 40em;
  background-color: white;
  position: absolute;
  top: -30%;
  left: -25%;
  transform: rotate(-45deg);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}
.exp-div2 {
  width: 70em;
  height: 40em;
  background-color: white;
  position: absolute;
  bottom: -30%;
  right: -30%;
  transform: rotate(-45deg);
  box-shadow: -4px -4px 16px rgba(0, 0, 0, 0.6);
}
.exp-div,
.exp-div2 {
  display: none;
}
@media (max-width: 768px) {
  body {
    font-size: 8px;
  }
  .carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
  }
  .placescontainer {
    width: 100%;
    position: absolute;
    margin-top: 10%;
  }
  .slide img {
    height: 25rem;
    width: 40em;
  }

  .title {
    font-size: 1rem;
  }
  .info {
    font-size: 0.5rem;
  }

  .write-up {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 60%;
  }
  .main-title {
    font-size: 2rem;
  }
  .main-info {
    font-size: 1rem;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1rem;
    max-height: 5rem;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
  }
  .bg-image-cover {
    opacity: 0.4;
    height: 100%;
    width: 50rem;
  }
  .slide {
    overflow: hidden;
  }
  .bg-div {
    width: 100%;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transition: ease 0.4s;
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  .exp-div,
  .exp-div2 {
    display: none;
  }
  .slide:hover .bg-div {
    bottom: 0;
  }
  .slider-heading {
    display: none;
  }
}
